html, body {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
}

.site-container {
  display: table;
  height: 100%;
  width: 100%;
}

.site-row {
  display: table-row;
  height: 1px;
  overflow: hidden;
}

.site-row.expand {
  height: auto;
}

.site-row.expand .inner-expand {
  height: 100%;
  display: table-cell;
}

html>/**/body .site-container {
  height: 100%;
}

html>body .site-row.expand {
  height: auto;
}

.height-inherit {
  height: inherit;
}

.bottom-margin-0 {
  margin-bottom: 0;
}

.center-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  align-content: center;
}

.center-content.align-items-center {
  align-items: center;
}
